<!-- MAIN LOGO -->
<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="/assets/img/testlogo.png" class="biglogo">
                <h4><a href="https://discord.gg/V33Kfaj/" target="_blank" class="biglogo-cta">
                    Join our Community
                </a></h4>
            </div>
        </div>
    </div>
</section>

<section id="section05" class="demo">
    <a href="#start"><span></span>Scroll</a>
</section>

<!-- SWGOH LOGO -->
<!-- <section id="logo" class="main-logo parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <img src="/assets/img/swgohlogo.png" class="swgohlogo">
        </div>
    </div>
</section> -->